@(books: List[Book])

@main("Book database") {
<div class="container">
    <div class="header row">
        <div class="column">
            <h1>Books I read</h1>
        </div>
    </div>
    @if(books.length > 0) {
        @for(bookBloc <- books.grouped(3).toList) {
            <div class="row book-row">
                @for(book <- bookBloc) {
                    <div class="column">
                        <img src="http://loremflickr.com/240/320?random=@book.id" />
                        <div><a href="#">@book.title</a></div>
                    </div>
                }
            </div>
        }
    }
</div>
}
